<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
</head>
<body>
  <%= stylesheet_link_tag "trips" %>
 <%= render 'shared/header' %>
 <div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 form">
      <form action='/trips' method='POST'>
        <h2>Add a trip:</h2>
        <label>Location</label><br>
          <input name='locations'><br>
            <label>Name</label><br>
              <input name='trip_name' id="name"><br>
              <br>
               <button id="submitbutton">Submit</button>
               <br>
                </form>
                  <a href="/trips">Go Home</a>
      </div>
   <div class="col-md-2">
    </div>
  </div>
</div>
</body>
</html>

