// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add{
  font-family: 'Montserrat', sans-serif;
}

label{
  font-family: 'Montserrat', sans-serif;
}

body{
  background: image_url("malta.jpg") no-repeat;
}
